body {
    /*background-image: url(../img/bg2.gif);
    background-size: 100% 100%;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffe8+0,d6dbbf+100;Wax+3D+%231 */
    
    background: #feffe8;
    /* Old browsers */
    
    background: -moz-radial-gradient(center, ellipse cover, #feffe8 0%, #d6dbbf 100%);
    /* FF3.6-15 */
    
    background: -webkit-radial-gradient(center, ellipse cover, #feffe8 0%, #d6dbbf 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: radial-gradient(ellipse at center, #feffe8 0%, #d6dbbf 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.iconsEle {
    position: absolute;
    display: grid;
    right: 10px;
    top: 25%;
    background-color: rgba(70, 70, 70, 0.34);
}
.icon {
    cursor: pointer;
    font-size: 36px;
    padding: 10px;
}
.icon:hover {
    color: #e0e0e0;
    background-color: rgba(0, 0, 0, 0.5);
}
.icon:active {
    color: #e0e0e0;
    background: #9D0300;
}
.hintHover {
    position: absolute;
    transition: .7s opacity;
    right: 100px;
    background: rgba(0, 0, 0, 0.5);
    border: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
    opacity: 0;
    font-size: 16px;
        white-space: nowrap;
}
.hintSelected {
    position: absolute;
    transition-property: top;
    transition: .5s;
    right: 100px;
    color: #e0e0e0;
    background: #9D0300;
    border: #9D0300;
    padding: 15px;
    opacity: 1;
    font-size: 16px;
    top: 20px;
        white-space: nowrap;
}
.triangle {
    left: inherit;
    top: 10px;
    right: -1.2em;
    position: absolute;
    border-style: solid;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border-left-color: inherit;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-width: 15px 0px 15px 19px;
}
.leftButton {
    position: absolute;
    top: 70%;
    left: 5%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 86.6px 50px 0;
    border-color: transparent #afb1a0 transparent transparent;
    cursor: pointer;
    transition: .5s;
}
.rightButton {
    position: absolute;
    top: 70%;
    right: 30%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 86.6px;
    border-color: transparent transparent transparent #afb1a0;
    cursor: pointer;
    transition: .5s;
}

.rightButton:hover{
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
}

.rightButton:active{
    border-color: transparent transparent transparent #9D0300;
}


.leftButton:hover{
    border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
}

.leftButton:active{
    border-color: transparent #9D0300 transparent transparent;
}

.marker{
    position: absolute;
    display: none;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
.glyphicon {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-piggy-bank:before {
    content: "\e225";
}
/*button {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover {
    border: 2px solid #fff83f;
    color: #fff83f;
}
button:active {
    border: 2px solid #fff83f;
    color: #fff83f;
    font-size: 16px;
}*/
#info {
    position: absolute;
    top: 54%;
    left: 16%;
    font-size: 70%;
    background-color: transparent;
    border-radius: 3px;
    padding: 2px 7px;
    color: rgba(66,139,202,1)  ;
    display: none;
    height: 200px;
    border-left: thick double #ff0000;
    transition: .5s;
}
#data_type {
    font-size: 2em;
    font-family: Vampiro One;
    padding-left: 20px;

}
#name {
    font-size: 3em;
    font-family: Microsoft JhengHei;
}
#case {
    font-size: 2em;
    font-family: Microsoft JhengHei;
}
.sliderEle {
    width: 75%;
    float: left;
}
.colorBarEle {
    width: 25%;
    float: left;
}