body{
    background-image: url(../img/bg.gif);
    background-size: 100% 100%;
}

.iconsEle {
    position: absolute;
    display: grid;
    right: 10px;
    top: 25%;
    background-color: rgba(70,70,70,0.34);
}

.icon{
    cursor: pointer;
    font-size: 60px;
    padding:10px;
}

.icon:hover{
    color:#e0e0e0;
    background-color: rgba(0,0,0,0.5);
}

.icon:active {
    color:#e0e0e0;
    background:#9D0300;
}

.hintHover{
    position: absolute;
    transition: .7s opacity;
    right: 100px;
    width: 100%;
    background:rgba(0,0,0,0.5);
    color:white;
    padding:15px;
    opacity: 0;
    font-size: 16px;
    white-space: pre;
}

.hintSelected{
    position: absolute;
    transition-property:top;
    transition :.5s;
    right: 100px;
    width: 100%;
    color:#e0e0e0;
    background:#9D0300;
    padding:15px;
    opacity: 1;
    font-size: 16px;
    white-space: pre;
    top:20px;
}

button {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover
{
  border: 2px solid #fff83f;
  color: #fff83f;
}
button:active
{

  border: 2px solid #fff83f;
  color: #fff83f;
  font-size: 16px;

}
#info
{
    position: absolute;
    top: 50%;
    left:0;
    text-align: center;
    font-size: 60%;
    background-color: #333;
    border-radius: 3px;
    padding: 2px 7px;
    color: #fff;
    display: none;
}
#data_type
{
     font-size: 2em;
     font-family:Microsoft JhengHei ;
}
#name {
    font-size: 3em;
    font-family:Microsoft JhengHei ;
}
#case {
    font-size: 3em;
    font-family:Microsoft JhengHei ;
}

.sliderEle{
    width :75%;
    float: left;

}
.colorBarEle{
width :25%;
    float: left;
}

