html,
body {
    background: #feffff;
    /* Old browsers */
    
    background: -moz-radial-gradient(center, ellipse cover, #feffff 0%, #d2ebf9 100%);
    /* FF3.6-15 */
    
    background: -webkit-radial-gradient(center, ellipse cover, #feffff 0%, #d2ebf9 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: radial-gradient(ellipse at center, #feffff 0%, #d2ebf9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9', GradientType=1);
    height: 100%;
}
.header {
    height: 10%;
}
.main {
    height: 80%;
}
.footer {
    height: 10%;
}
.iconsEle {
    position: absolute;
    display: grid;
    right: 10px;
    top: 20%;
    z-index: 100;
}
.icon {
    cursor: pointer;
    font-size: 36px;
    padding: 10px;
    background-color: rgba(70, 70, 70, 0.34);
    border-radius: 50%;
    margin-top: 5px;
    /*display: none;*/
}
.icon:hover {
    color: #e0e0e0;
    background-color: rgba(0, 0, 0, 0.5);
}
.icon:active {
    color: #e0e0e0;
    background: #9D0300;
}
.hintHover {
    position: absolute;
    transition: .7s opacity;
    right: 75px;
    background: rgba(0, 0, 0, 0.5);
    border: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
    opacity: 0;
    font-size: 16px;
    white-space: nowrap;
}
.hintSelected {
    position: absolute;
    transition-property: top;
    transition: .5s;
    right: 75px;
    color: #e0e0e0;
    background: #9D0300;
    border: #9D0300;
    padding: 15px;
    opacity: 1;
    font-size: 16px;
    top: 8.5px;
    white-space: nowrap;
}
.triangle {
    left: inherit;
    top: 10px;
    right: -1.2em;
    position: absolute;
    border-style: solid;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border-left-color: inherit;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-width: 15px 0px 15px 19px;
}
.leftButton {
    position: absolute;
    top: 70%;
    left: 5%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 86.6px 50px 0;
    /*border-width:3em 4em 3em 0;*/
    border-color: transparent #afb1a0 transparent transparent;
    cursor: pointer;
    transition: .5s;
    z-index: 100;
}
.rightButton {
    position: absolute;
    top: 70%;
    right: 30%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 86.6px;
    /*border-width:3em 0 3em 4em;*/
    border-color: transparent transparent transparent #afb1a0;
    cursor: pointer;
    transition: .5s;
    z-index: 100;
}
.rightButton:hover {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
}
.rightButton:active {
    border-color: transparent transparent transparent #9D0300;
}
.leftButton:hover {
    border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
}
.leftButton:active {
    border-color: transparent #9D0300 transparent transparent;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mapEle{
    width:100%;
    height:100%;
    overflow: auto;
    position: relative;
}



.marker {
    position: absolute;
    display: none;
    transition: .5s,
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
.glyphicon {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.glyphicon-piggy-bank:before {
    content: "\e225";
}
/*button {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover {
    border: 2px solid #fff83f;
    color: #fff83f;
}
button:active {
    border: 2px solid #fff83f;
    color: #fff83f;
    font-size: 16px;
}*/

#info {
    position: absolute;
    top: 54%;
    left: 16%;
    font-size: 70%;
    background-color: transparent;
    border-radius: 3px;
    padding: 2px 7px;
    color: rgba(66, 139, 202, 1);
    display: none;
    height: 200px;
    border-left: thick double #ff0000;
    transition: .5s;
}
#data_type {
    font-size: 26px;
    font-family: cursive;
    background:rgba(175, 177, 160, 0.32);
        text-align: center;
}
#name {
    font-size: 3em;
    font-family: Microsoft JhengHei;
}
#case {
    font-size: 2em;
    font-family: Microsoft JhengHei;
}
.sliderEle {
    width: 75%;
    float: left;
}
.colorBarEle {
    width: 25%;
    float: left;
}

/*響應式網頁，當網頁寬度大於500(網頁)，就做下列東西*/
@media only screen and (min-width: 500px) {
    .mapEle {
        overflow: hidden;
    }
}

/*響應式網頁，當網頁寬度小於500(手機、平板)，就做下列東西*/
@media only screen and (max-width: 500px) {
    .leftButton{
         border-width: 30px 45px 30px 0;
         top:80%;
    }
    .rightButton{
        border-width: 30px 0 30px 45px;
        top:80%;
        right:5%;
    }

    .iconsEle{
        top:12%;
    }

    .sliderEle{
        width:100%;
    }

    .colorBarEle{
        width:30%;
    float: left;
    position: fixed;
    top: 75px;
    left: 5%;
    }

    #data_type{
            font-size: 20px;
                    padding: 15px;
    }

}

.rotate_start {
  -webkit-transform: rotate(0deg);  /* Chrome, Safari 3.1+ */
     -moz-transform: rotate(0deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(0deg);  /* IE 9 */
       -o-transform: rotate(0deg);  /* Opera 10.50-12.00 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

.rotate_end {
  -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
     -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(180deg);  /* IE 9 */
       -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
          transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

.rotate_transition {
  -webkit-transition: all 0.6s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.6s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.6s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.6s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}